/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(17, 17, 17, 0.9); /* Light background for the body */
    color: white; /* Dark gray text color for improved readability */
    line-height: 1.6;
}

/* Navigation Styling */
nav {
    background-color: rgba(17, 17, 17, 0.9); /* Dark gray for the nav */
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

nav li {
    height: 50px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8); /* Light text color for the nav links */
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect for nav items */
    color: #f8f9fa; /* Maintain light text on hover */
}

nav li:first-child {
    margin-right: auto;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(3px);
    background-color: rgba(17, 17, 17, 0.8); /* Light, semi-transparent background */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, .sidebar a {
    width: 100%;
}

/* Header Styling */
header {
    color: white; /* Dark gray text */
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
    color: white; /* Dark text color for the header title */
}

.container .tagline {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: white; /* Lighter gray for tagline */
}

/* Container for Layout Consistency */
.container {
    width: 80%;
    margin:0 auto;
    margin-top: 50px;
    padding: 0 20px; /* Added padding for spacing around the container */
}



.container section h2 {
    margin-top: 40px; /* More space above h2 */
    margin-bottom: 40px; /* More space between h2 and the following paragraph */
}

.container h2  {
    font-size: 28px;
    margin-bottom: 10px;/* Space specifically between h2 and p within the container */
    margin-top: 20px;
}

.container p {
    font-size: 20px;
    color: white; /* Slightly lighter gray for paragraph text */
    line-height: 1.8;
    text-align: justify; /* Justified text */
    text-indent: 20px;
    /* Added margin to create space from h2 */
}

/* Footer Styling */
footer {
    background-color: rgba(17, 17, 17, 0.8); /* Dark gray background for the footer */
    color: #f8f9fa; /* Light text for footer */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer p {
    font-size: 1rem;
    margin: auto;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0 15px; /* Less padding on smaller screens */
    }

    .container h1 {
        font-size: 30px;
    }

    .container p {
        font-size: 15px;
        line-height: -10px;
    }
    .container .tagline{
        font-size: 14px;
    }

    .container h2 {
        font-size: 22px;
        
    }
}

/* Mobile hide certain elements */
@media (max-width: 800px) {
    .hideOnMoblie {
        display: none;
    }
}
